.widget {
  .instructions,
  .feedback {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
    color: var(--primary-color);
  }

  .grader {
    &.dirty .feedback {
      display: none;
    }
    &:not(.dirty) .check-work {
      display: none;
    }
    .feedback.correct {
      color: #4caf50;
    }
    .feedback.wrong {
      color: #f44336;
    }
    .check-work {
      margin-bottom: 1.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.3em;
      font-weight: bold;
      background-color: var(--primary-color);
      color: white;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

.Q-circuit-board-container {
  max-height: unset;
  overflow: auto;
}

.Q-circuit-operation {
  --Q-operation-color-main: #0c5394;
  --Q-operation-color-dark: #c9daf8;
}

.Q-circuit-operation-hadamard {
  --Q-operation-color-main: #f54343;
  --Q-operation-color-dark: #f5cbcc;
}

.Q-circuit-operation-control {
  --Q-operation-color-main: black;
}

.Q-circuit-operation-link {
  border-color: black;
}
